:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #0e72bb;
  --dark-blue: #013046;
  --gray: #d5d5d5;
  --text-blue: #3e5973;
}

html {
  font-size: 16px;
}

body,
h3 {
  font-size: 1.6rem;
  @media (min-width: 830px) {
    font-size: 2rem;
  }
}

p, li {
  line-height: 2.5;
}

h3 {
  margin: 0;
}

@font-face {
  font-family: "Garamond";
  src: url("/assets/fonts/AGaramondPro-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Garamond";
  src: url("/assets/fonts/AGaramondPro-Italic.otf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Garamond";
  src: url("/assets/fonts/AGaramond-Semibold.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Garamond";
  src: url("/assets/fonts/AGaramondPro-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Garamond";
  src: url("/assets/fonts/AGaramond-SemiboldItalic.otf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Garamond";
  src: url("/assets/fonts/AGaramondPro-BoldItalic.otf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

body {
  background: var(--gray);
  font-family: "Garamond", Times, serif;
  box-sizing: border-box;
  font-weight: normal;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  90% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.tippy-box[data-theme~="soi"] {
  border-radius: 5px;
  background: transparent;
  color: var(--white);
  font-weight: bold;
  padding: 0 0.5rem !important;
  margin: 0;
  font-size: 1.6rem;
  z-index: 10;
  text-align: center;
  font-family: "Garamond", Times, serif;
  max-width: 250px !important;
  text-shadow: 1px 1px 10px var(--dark-blue);
}

.tippy-box[data-placement="right"] {
  text-align: left;
  padding-left: 0;
}
.tippy-box[data-placement="left"] {
  text-align: right;
  padding-right: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.mobile {
  display: block;
  @media (min-width: 830px) {
    display: none;
  }
}

.desktop {
  display: none;
  @media (min-width: 830px) {
    display: block;
  }
}
