:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #0e72bb;
  --dark-blue: #013046;
  --gray: #d5d5d5;
  --text-blue: #3e5973;
}

html {
  font-size: 16px;
}

body,
h3,
p,
li {
  // font-size: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #434343;
}

h3 {
  margin: 1em 0;
}

p{
  margin: 2rem 0;
}

:not(.by-the-numbers) p,
h2,
h3,
li {
  opacity: 0;
  animation: frombottom 1s ease-in-out forwards;
}

ul {
  padding-left: 1em;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

@font-face {
  font-family: "AGaramond";
  src: url("/assets/fonts/AGaramondPro-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AGaramond";
  src: url("/assets/fonts/AGaramondPro-Italic.otf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "AGaramond";
  src: url("/assets/fonts/AGaramond-Semibold.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "AGaramond";
  src: url("/assets/fonts/AGaramondPro-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "AGaramond";
  src: url("/assets/fonts/AGaramond-SemiboldItalic.otf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "AGaramond";
  src: url("/assets/fonts/AGaramondPro-BoldItalic.otf") format("truetype");
  font-weight: 700;
  font-style: italic;
}


//
@font-face {
  font-family: "Garamond";
  src: url("/assets/fonts/GARABD.TTF") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Garamond";
  src: url("/assets/fonts//GARA.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Garamond";
  src: url("/assets/fonts/EBGaramond-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
}


body {
  background: var(--white);
  font-family: "Garamond", Times, serif;
  box-sizing: border-box;
  font-weight: normal;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  90% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes frombottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes frombottomwait{
  0%{
    opacity: 0;
    transform: translateY(50px);
  }

  50%{
    opacity: 0;
    transform: translateY(50px);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

.tippy-box[data-theme~="soi"] {
  border-radius: 5px;
  background: transparent;
  color: var(--white);
  font-weight: bold;
  padding: 0 0.5rem !important;
  margin: 0;
  font-size: 1.6rem;
  z-index: 10;
  text-align: center;
  // font-family: "Garamond", Times, serif;
  font-family: "Garamond", Times, serif;
  max-width: 260px !important;
  min-width: none;
  text-shadow: 1px 1px 10px var(--dark-blue);
}

.tippy-box[data-placement="right"] {
  text-align: left;
  padding-left: 0;
}
.tippy-box[data-placement="left"] {
  text-align: right;
  padding-right: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.mobile {
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
}

.desktop {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}
